.editor textarea {
  background-color: #fffff5;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid lightgray;
  font-size: 0.8em;
}
.editor input[type=text] {
  background-color: #fffff5;
  width: 400px;
  margin-right: 10px;
  border: 1px solid lightgray;
  font-size: 0.8em;
}
