
.issues {
  text-align: left;
}
.issues-wrapper {
  padding: 20px;
}

.issue {
  padding: 15px 10px;
  text-align: left;
}

.issue.has-wips {
  background-color: rgba(207, 247, 202, 0.3);
}

.issue-title span {
  font-weight: 600;
  color: #4a4a4a;
}

.issue-body {
  color: #999;
  font-size: 0.8em;
  margin-top: 5px;
}
.issue-comments, .issue-links {
  font-size: 0.9em;
}

.issue-comments {
  padding-left: 10px;
  color: #666;
  margin-top: 10px;
  border-left: 3px solid #efefef;
}

.issue .like {
  float: right;
}

.random-issue .issue {
  border: 3px solid #aa1e16;
  border-left: 0;
  border-right: 0;
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1em;
  animation-name: pulsingColor;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.raffle-image {
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.raffles {
  margin-left: 10px;
  display: inline-block;
  opacity: 0.5;
}

.person {
  color: #137752;
  padding: 1px 5px;
  font-weight: 600;
}

.people {
  display: inline-block;
}

.people .person+.person {
 margin-left: 5px;
}

p.issue-comment-line {
  margin: 2px 0;
}


@keyframes pulsingColor {
  0% {
    border-color: #aa1e16;
  }
  50% {
    border-color: #aa1d1660;
  }
  100% {
    border-color: #aa1e16;

  }
}
