.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  height: 180px;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, .1); */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.christmas-raffle {
  width: 240px;
}

.sort-menu {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
}

.btn:hover {
  background-color: #efefef;
}

.btn.login {
  padding: 12px 24px;
  border-radius: 50px;
  font-size: 2em;
}

.btn.like {
  font-size: 1em;
  padding: 6px 12px;
  border-radius: 24px;
}
.btn.liked {
  color: #aaa;
}

.btn.active {
  background-color: #efefef;
}

.btn.jira {
  font-size: 0.8em;
  color: black;
}

.wips {
  margin-top: 10px;
}