.App {
  text-align: center;
}

.App-logo {
  height: 160px;
}

.App-header {
  height: 180px;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, .1); */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.christmas-raffle {
  width: 240px;
}

.sort-menu {
  margin-bottom: 20px;
}