body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  display: inline-block;
  border: 1px solid #efefef;
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2em;
}

.btn.like {
  font-size: 1em;
  padding: 6px 12px;
  border-radius: 24px;
}
.btn.liked {
  color: #aaa;
}

.title {
  font-family: "Bradley Hand", cursive;
  margin: 10px 0;
}